@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/* line 5, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0px;
}

/* line 10, ../sass/screen.scss */
body {
  background: #f0f1f1;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  min-width: 942px;
}

/* line 19, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 22, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 27, ../sass/screen.scss */
.font-tahoma, nav, section .faq .ask-block .ask-item, section .faq .table, section .navo ul li a, section .paginator, section .breadcorms > *, section .bottom-block .istochnik, section .all-sostav .cell, section .article, section .manytext, section .bgwhite .block-items > a .title, section .bgwhite .bottom-search, section .bgwhite .bottom-search input[type="text"], section .bgwhite .bottom-search input[type="submit"], section .bgwhite .block-items-2 .item-1 .title, section .bgwhite .block-items-2 .item-1 .date, section .bgwhite .block-items-2 .blog-items a .date, section .homeabout, section .slider-blogs, section .slider-blogs .ib .name:before, header .header-search-form, header .header-search-form input[type=text] {
  font-family: Tahoma;
}

/* line 32, ../sass/screen.scss */
.clearfix {
  clear: both;
}

/* line 36, ../sass/screen.scss */
.content-width, .table {
  min-width: 942px;
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: auto;
}

/* line 74, ../sass/screen.scss */
body a {
  display: inline-block;
}
/* line 76, ../sass/screen.scss */
body a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

/* line 84, ../sass/screen.scss */
i {
  background-image: url("../../images/icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

/* line 92, ../sass/screen.scss */
.table {
  display: table;
  width: 100%;
}
/* line 96, ../sass/screen.scss */
.table .thead {
  display: table-header-group;
}
/* line 99, ../sass/screen.scss */
.table .tbody {
  display: table-row-group;
}
/* line 102, ../sass/screen.scss */
.table .row {
  display: table-row;
}
/* line 104, ../sass/screen.scss */
.table .row .cell {
  display: table-cell;
}

/* line 112, ../sass/screen.scss */
nav {
  background: #a7dafa;
  height: 50px;
  line-height: 50px;
}
/* line 117, ../sass/screen.scss */
nav .cell {
  text-align: center;
}
/* line 119, ../sass/screen.scss */
nav .cell div {
  position: relative;
}
/* line 121, ../sass/screen.scss */
nav .cell div:hover {
  background: #023763;
}
/* line 123, ../sass/screen.scss */
nav .cell div:hover a {
  color: #f0f1f1;
}
/* line 128, ../sass/screen.scss */
nav .cell a {
  display: block;
  height: 100%;
  font-size: 13px;
  text-decoration: none;
  color: #023763;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 136, ../sass/screen.scss */
nav .cell a:hover {
  background: #023763;
  color: #f0f1f1;
}
/* line 140, ../sass/screen.scss */
nav .cell a:hover + ul, nav .cell a ul:hover {
  display: block;
}
/* line 143, ../sass/screen.scss */
nav .cell a + ul {
  min-width: 340px;
  text-align: left;
  position: absolute;
  top: 100%;
  z-index: 1111;
  display: none;
}
/* line 146, ../sass/screen.scss */
nav .cell a + ul a {
  line-height: normal;
  background: #023763;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f0f1f1;
}
/* line 154, ../sass/screen.scss */
nav .cell a + ul a:hover {
  background: #a7dafa;
  color: #023763;
}
/* line 159, ../sass/screen.scss */
nav .cell a + ul:hover {
  display: block;
}

/* line 176, ../sass/screen.scss */
section .faq .ask-block .no-atcive .asked {
  height: 130px;
  overflow: hidden;
}
/* line 179, ../sass/screen.scss */
section .faq .ask-block .no-atcive .asked p {
  height: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 80px;
}
/* line 187, ../sass/screen.scss */
section .faq .ask-block .no-atcive .slide {
  left: 50%;
  margin-left: -15px;
  width: 30px;
  z-index: 11;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -webkit-transform: scaleY(1) !important;
  -moz-transform: scaleY(1) !important;
  -o-transform: scaleY(1) !important;
  -ms-transform: scaleY(1) !important;
  transform: scaleY(1) !important;
  bottom: -10px;
  position: absolute;
  height: 20px;
  background: transparent url("../../images/icons.png") -51px -206px no-repeat;
}
/* line 202, ../sass/screen.scss */
section .faq .ask-block .no-atcive .slide:hover {
  opacity: .6;
}
/* line 211, ../sass/screen.scss */
section .faq .ask-block .ask-item {
  position: relative;
  margin-bottom: 70px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}
/* line 219, ../sass/screen.scss */
section .faq .ask-block .ask-item .slide {
  left: 50%;
  margin-left: -15px;
  width: 30px;
  z-index: 11;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  bottom: -10px;
  position: absolute;
  height: 20px;
  background: transparent url("../../images/icons.png") -51px -206px no-repeat;
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}
/* line 227, ../sass/screen.scss */
section .faq .ask-block .ask-item .slide:hover {
  opacity: .6;
}
/* line 240, ../sass/screen.scss */
section .faq .ask-block .ask-item .date {
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 161px;
  line-height: 40px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background: #a81b40;
}
/* line 251, ../sass/screen.scss */
section .faq .ask-block .ask-item .date i {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("../../images/icons.png") -26px -209px no-repeat;
  margin-right: 20px;
}
/* line 260, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked {
  padding-top: 28px;
  padding-right: 60px;
  background: #fff;
  padding-bottom: 28px;
  position: relative;
  padding-left: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}
/* line 271, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked .name {
  text-transform: uppercase;
  font-size: 12px;
  color: #2a435d;
  font-weight: 700;
}
/* line 276, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked .name i {
  background-position: -1px -209px;
  display: inline-block;
  margin-right: 20px;
  width: 23px;
  position: relative;
  top: -10px;
  height: 23px;
}
/* line 285, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked .name:before {
  color: #2a435d;
  margin-bottom: 2px;
  margin-left: 43px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  content: attr(data-date);
  display: block;
}
/* line 296, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked .tags {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 75px;
}
/* line 300, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked .tags a {
  line-height: 25px;
  background: #d2d3d4;
  margin-bottom: 8px;
  text-decoration: none;
  color: #383737;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  display: inline-block;
  margin-right: 4px;
}
/* line 311, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked .tags a:hover {
  opacity: .9;
}
/* line 317, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked .btns {
  margin-top: 30px;
  float: right;
}
/* line 321, ../sass/screen.scss */
section .faq .ask-block .ask-item .asked p {
  color: #2a435d;
  line-height: 17px;
  font-size: 12px;
  padding-top: 20px;
}
/* line 328, ../sass/screen.scss */
section .faq .ask-block .ask-item .question {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  background: #a7dafa;
  padding-top: 28px;
  padding-right: 60px;
  padding-bottom: 28px;
  padding-left: 22px;
}
/* line 338, ../sass/screen.scss */
section .faq .ask-block .ask-item .question .name {
  color: #023763;
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 345, ../sass/screen.scss */
section .faq .ask-block .ask-item .question p {
  line-height: 17px;
  color: #023763;
  font-size: 12px;
}
/* line 356, ../sass/screen.scss */
section .faq .table {
  margin-bottom: 60px;
  width: 100%;
}
/* line 361, ../sass/screen.scss */
section .faq .table .cell {
  width: 50%;
  max-width: 50%;
  padding-left: 20px;
}
/* line 365, ../sass/screen.scss */
section .faq .table .cell:first-child + .cell {
  border: 1px solid #cedadf;
  background: #ffffff;
  width: 100%;
  padding-left: 50px;
  padding-top: 15px;
}
/* line 371, ../sass/screen.scss */
section .faq .table .cell:first-child + .cell .t {
  height: 312px;
  overflow: auto;
  padding-bottom: 20px;
}
/* line 375, ../sass/screen.scss */
section .faq .table .cell:first-child + .cell .t a {
  line-height: 25px;
  background: #d2d3d4;
  margin-bottom: 8px;
  text-decoration: none;
  color: #383737;
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  *display: inline;
  font-size: 12px;
  *zoom: 1;
  margin-right: 4px;
}
/* line 380, ../sass/screen.scss */
section .faq .table .cell:first-child + .cell .t a:hover {
  opacity: .7;
}
/* line 393, ../sass/screen.scss */
section .faq .table .cell:first-child + .cell .title {
  color: #383737;
  font-size: 14px;
  margin-bottom: 14px;
}
/* line 399, ../sass/screen.scss */
section .faq .table .cell:first-child {
  padding-left: 0;
  padding-right: 20px;
}
/* line 402, ../sass/screen.scss */
section .faq .table .cell:first-child input[type=text] {
  height: 31px;
  border: 1px solid #cedadf;
  background: #ffffff;
  margin-bottom: 12px;
  padding-left: 20px;
  display: block;
  width: 100%;
  padding-right: 20px;
  -webkit-box-shadow: inset 0px 2px 0px 0px #f0f0f0;
  -moz-box-shadow: inset 0px 2px 0px 0px #f0f0f0;
  box-shadow: inset 0px 2px 0px 0px #f0f0f0;
}
/* line 415, ../sass/screen.scss */
section .faq .table .cell:first-child textarea {
  height: 220px;
  border: 1px solid #cedadf;
  background: #ffffff;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-top: 20px;
  display: block;
  max-width: 100%;
  width: 100%;
  padding-right: 20px;
  -webkit-box-shadow: inset 0px 2px 0px 0px #f0f0f0;
  -moz-box-shadow: inset 0px 2px 0px 0px #f0f0f0;
  box-shadow: inset 0px 2px 0px 0px #f0f0f0;
}
/* line 430, ../sass/screen.scss */
section .faq .table .cell:first-child input[type=submit] {
  height: 31px;
  background-color: #acdefb;
  padding: 0 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
}
/* line 438, ../sass/screen.scss */
section .faq .table .cell:first-child input[type=submit]:hover {
  opacity: .8;
}
/* line 442, ../sass/screen.scss */
section .faq .table .cell:first-child .title {
  background: #023763;
  line-height: 36px;
  color: white;
  font-size: 15.86px;
  display: block;
  text-decoration: none;
  margin-bottom: 12px;
}
/* line 450, ../sass/screen.scss */
section .faq .table .cell:first-child .title:before {
  content: "";
  margin-left: 15px;
  margin-right: 15px;
  width: 30px;
  display: inline-block;
  height: 20px;
  background: url("../../images/icons.png") -56px -128px no-repeat;
}
/* line 465, ../sass/screen.scss */
section .map {
  height: 440px;
  margin-bottom: 80px;
}
/* line 469, ../sass/screen.scss */
section .navo {
  margin-bottom: 50px;
  background: #a7dafa;
  min-height: 292px;
}
/* line 473, ../sass/screen.scss */
section .navo h4 {
  color: #023763;
  margin-right: -4px;
  vertical-align: top;
  width: 320px;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 44px;
}
/* line 485, ../sass/screen.scss */
section .navo .content-width, section .navo .table {
  padding-right: 0 !important;
  position: relative;
}
/* line 489, ../sass/screen.scss */
section .navo ul {
  margin-left: 20px;
  width: 320px;
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  margin-left: 0px;
}
/* line 497, ../sass/screen.scss */
section .navo ul li a {
  position: relative;
  text-decoration: none;
  color: #023763;
  font-size: 16px;
  display: block;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 499, ../sass/screen.scss */
section .navo ul li a:hover {
  color: white;
  background: #023763;
}
/* line 503, ../sass/screen.scss */
section .navo ul li a.active {
  color: white;
  background: #023763;
  padding-right: 60px;
}
/* line 506, ../sass/screen.scss */
section .navo ul li a.active span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 511, ../sass/screen.scss */
section .navo ul li a.active i {
  display: inline-block;
  width: 14px;
  position: absolute;
  right: 27px;
  top: 50%;
  margin-top: -10px;
  margin-left: 10px;
  height: 20px;
  background: url("../../images/icons.png") 0px -103px no-repeat;
}
/* line 536, ../sass/screen.scss */
section .navo .img {
  height: 292px;
  margin-right: 0px;
  left: 319px;
  top: 0;
  right: 0;
  vertical-align: top;
  background-position: center !important;
  background-size: cover !important;
  display: inline-block;
  position: absolute;
}
/* line 550, ../sass/screen.scss */
section .paginator {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}
/* line 555, ../sass/screen.scss */
section .paginator .t {
  font-size: 12px;
  color: #497a92;
}
/* line 558, ../sass/screen.scss */
section .paginator .t.prev {
  margin-right: 11px;
}
/* line 562, ../sass/screen.scss */
section .paginator > * {
  height: 32px;
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
  text-decoration: none;
}
/* line 569, ../sass/screen.scss */
section .paginator > *:not(span):hover {
  opacity: .7;
}
/* line 572, ../sass/screen.scss */
section .paginator span.num {
  background: #a81b40;
  cursor: default;
}
/* line 576, ../sass/screen.scss */
section .paginator .num {
  width: 32px;
  margin-right: 11px;
  border-right: 1px solid #98b2bf;
  background: #497a92;
  text-align: center;
  color: white;
}
/* line 585, ../sass/screen.scss */
section .breadcorms {
  padding-left: 40px;
  line-height: 52px;
}
/* line 588, ../sass/screen.scss */
section .breadcorms a:after {
  content: ">";
  font-size: 12px;
  color: #383737;
}
/* line 593, ../sass/screen.scss */
section .breadcorms > * {
  font-size: 12px;
  text-decoration: none;
  color: #383737;
}
/* line 600, ../sass/screen.scss */
section .breadcorms a:hover span {
  text-decoration: underline;
}
/* line 605, ../sass/screen.scss */
section .bottom-block {
  padding-bottom: 40px;
}
/* line 607, ../sass/screen.scss */
section .bottom-block .date-block {
  line-height: 35px;
  padding-left: 18px;
  padding-right: 18px;
  color: #ffffff;
  font-size: 14px;
  display: inline-block;
  background: #a81b40;
}
/* line 616, ../sass/screen.scss */
section .bottom-block .istochnik {
  width: 100%;
  background: #023763;
  line-height: 34px;
}
/* line 622, ../sass/screen.scss */
section .bottom-block .istochnik span {
  font-size: 18px;
  padding-left: 18px;
  color: white;
  padding-right: 57px;
}
/* line 623, ../sass/screen.scss */
section .bottom-block .istochnik .autor {
  display: inline-block;
  font-size: 18px;
  color: white;
}
/* line 625, ../sass/screen.scss */
section .bottom-block .tags {
  color: #383737;
  font-size: 14px;
  padding-top: 30px;
  padding-left: 36px;
}
/* line 632, ../sass/screen.scss */
section .textslider {
  height: 380px;
  margin-bottom: 30px;
  overflow: hidden;
  clear: both;
  position: relative;
}
/* line 638, ../sass/screen.scss */
section .textslider .swiper-container, section .textslider .swiper-wrapper, section .textslider .swiper-slide {
  height: 380px !important;
}
/* line 641, ../sass/screen.scss */
section .textslider .next {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 60%;
  z-index: 10;
  top: 50%;
  margin-top: -74px;
  width: 144px;
  height: 155px;
  background: url("../../images/icons.png") -136px -180px no-repeat;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
}
/* line 655, ../sass/screen.scss */
section .textslider .next:hover {
  opacity: .5;
}
/* line 659, ../sass/screen.scss */
section .textslider .swiper-slide {
  height: 380px;
  width: 40%;
}
/* line 663, ../sass/screen.scss */
section .textslider .swiper-slide-active {
  opacity: 1 !important;
}
/* line 666, ../sass/screen.scss */
section .textslider .swiper-slide {
  opacity: .3;
  height: 440px;
  width: 100%;
  max-width: 1200px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
/* line 675, ../sass/screen.scss */
section .social-block {
  display: inline-block;
}
/* line 677, ../sass/screen.scss */
section .social-block .txt {
  display: block;
}
/* line 679, ../sass/screen.scss */
section .social-block .txt a {
  color: #023763;
  font-size: 12px;
}
/* line 684, ../sass/screen.scss */
section .social-block .b-share {
  padding: 0 !important;
}
/* line 689, ../sass/screen.scss */
section .all-sostav .cell {
  padding: 0 20px;
  width: 33.33333%;
}
/* line 694, ../sass/screen.scss */
section .all-sostav .table {
  table-layout: fixed;
}
/* line 697, ../sass/screen.scss */
section .all-sostav .user {
  text-decoration: none;
  width: 100%;
}
/* line 701, ../sass/screen.scss */
section .all-sostav .user:hover p {
  text-decoration: underline;
  color: #023763;
}
/* line 705, ../sass/screen.scss */
section .all-sostav .user:hover .img {
  opacity: .9;
}
/* line 709, ../sass/screen.scss */
section .all-sostav .user .img {
  height: 210px;
  background-size: cover;
  background-position: center;
}
/* line 714, ../sass/screen.scss */
section .all-sostav .user .name {
  color: #f4f6f9;
  font-size: 14px;
  padding: 23px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #023763;
  text-align: center;
}
/* line 724, ../sass/screen.scss */
section .all-sostav .user .ellipsis {
  color: #383737;
  font-size: 13px;
  padding: 15px 7px;
  line-height: 20px;
}
/* line 734, ../sass/screen.scss */
section .article h1.content-width, section .article h1.table {
  color: #023763;
  font-size: 32px;
  font-weight: bold;
  padding-right: 10%;
  line-height: 45px;
  padding-bottom: 20px;
}
/* line 742, ../sass/screen.scss */
section .article code {
  text-align: center;
}
/* line 745, ../sass/screen.scss */
section .article .title-article {
  margin-bottom: 24px;
  background: #a7dafa;
}
/* line 748, ../sass/screen.scss */
section .article .title-article .content-width, section .article .title-article .table {
  position: relative;
}
/* line 751, ../sass/screen.scss */
section .article .title-article .img {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  background-position: center !important;
  background-size: cover !important;
  margin-right: -4px;
  position: absolute;
  height: 100%;
}
/* line 761, ../sass/screen.scss */
section .article .title-article p {
  margin-top: 80px;
  margin-bottom: 80px;
  display: inline-block;
  padding-left: 80px;
  margin-right: -4px;
  width: 50%;
  margin-left: 50%;
  vertical-align: middle;
  color: #023763;
  position: relative;
  padding-right: 40px;
  font-size: 24px;
}
/* line 774, ../sass/screen.scss */
section .article .title-article p:before {
  content: "";
  position: absolute;
  top: -34px;
  left: 21px;
  background: url("../../images/icons.png") 0px -160px no-repeat;
  width: 60px;
  height: 37px;
  display: inline-block;
}
/* line 789, ../sass/screen.scss */
section .article p.last:after {
  content: "";
  background: url("../../images/icons.png") -56px -160px no-repeat;
  width: 60px;
  height: 37px;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
}
/* line 802, ../sass/screen.scss */
section .manytext {
  padding: 0 20px;
  padding-bottom: 80px;
}
/* line 803, ../sass/screen.scss */
section .manytext + .textslider, section .manytext + .map, section .manytext + script + .map {
  margin-top: -80px;
}
/* line 808, ../sass/screen.scss */
section .manytext .btns .btn {
  padding-left: 100px;
  display: inline-block;
  vertical-align: top;
}
/* line 812, ../sass/screen.scss */
section .manytext .btns .btn .vipiska {
  line-height: 40px;
  color: #023763;
  text-decoration: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  background: #a7dafa;
  text-transform: lowercase;
}
/* line 821, ../sass/screen.scss */
section .manytext .btns .btn .vipiska:hover {
  opacity: .7;
}
/* line 825, ../sass/screen.scss */
section .manytext .btns .btn .pdf {
  line-height: 40px;
  padding: 0 18px;
  text-transform: lowercase;
  color: white;
  text-decoration: none;
  font-weight: 700;
  background: #a81b40;
}
/* line 833, ../sass/screen.scss */
section .manytext .btns .btn .pdf:hover {
  opacity: .7;
}
/* line 836, ../sass/screen.scss */
section .manytext .btns .btn .pdf i {
  background: url("../../images/icons.png") 0 -130px no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 27px;
  margin-right: 15px;
  position: relative;
  left: 0px;
  top: -3px;
}
/* line 854, ../sass/screen.scss */
section .manytext h1 {
  font-size: 22px;
  color: #023763;
  margin-bottom: 34px;
  font-weight: 700;
}
/* line 860, ../sass/screen.scss */
section .manytext img {
  margin-right: 78px;
  margin-bottom: 56px;
  float: left;
}
/* line 865, ../sass/screen.scss */
section .manytext p {
  color: #383737;
  padding: 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 23px;
}
/* line 872, ../sass/screen.scss */
section .manytext blockquote {
  border: 8px solid #a7dafa;
  display: block;
  float: left;
  width: 360px;
  height: 320px;
  line-height: 31px;
  margin-right: 40px;
  font-weight: 700;
  margin-bottom: 26px;
  color: #023763;
  font-size: 21px;
  padding-top: 67px;
  padding-left: 49px;
  padding-right: 43px;
}
/* line 889, ../sass/screen.scss */
section .manytext code {
  border: 8px solid #a7dafa;
  display: block;
  line-height: 31px;
  margin: 20px 0;
  font-weight: 700;
  color: #023763;
  font-size: 21px;
  padding: 36px 46px;
}
/* line 901, ../sass/screen.scss */
section .big-slider {
  height: 440px;
  overflow: hidden;
}
/* line 904, ../sass/screen.scss */
section .big-slider .content-width, section .big-slider .table {
  position: relative;
}
/* line 907, ../sass/screen.scss */
section .big-slider .swiper-slide-active {
  opacity: 1 !important;
}
/* line 910, ../sass/screen.scss */
section .big-slider .swiper-slide {
  opacity: .3;
  height: 440px;
  width: 100%;
  max-width: 1200px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
/* line 918, ../sass/screen.scss */
section .big-slider .next {
  display: block;
  background: url("../../images/icons.png") right top;
  height: 90px;
  width: 85px;
  position: absolute;
  right: 0;
  z-index: 10;
  top: 235px;
  margin-top: -55px;
  transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
}
/* line 931, ../sass/screen.scss */
section .big-slider .next:hover {
  opacity: .5;
}
/* line 935, ../sass/screen.scss */
section .big-slider .prev {
  display: block;
  background: url("../../images/icons.png") -194px -90px;
  height: 90px;
  width: 85px;
  position: absolute;
  left: 0;
  z-index: 10;
  top: 235px;
  transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  margin-top: -55px;
}
/* line 948, ../sass/screen.scss */
section .big-slider .prev:hover {
  opacity: .5;
}
/* line 953, ../sass/screen.scss */
section .bgwhite {
  background: white;
  padding-top: 40px;
}
/* line 956, ../sass/screen.scss */
section .bgwhite .block-items {
  padding-bottom: 38px;
  overflow: hidden;
  text-align: justify;
}
/* line 960, ../sass/screen.scss */
section .bgwhite .block-items:after {
  content: "";
  display: inline-block;
  width: 100%;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
/* line 968, ../sass/screen.scss */
section .bgwhite .block-items > a {
  width: 31%;
  text-decoration: none;
  height: 245px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: -4px;
  text-align: center;
}
/* line 978, ../sass/screen.scss */
section .bgwhite .block-items > a:hover p {
  text-decoration: underline;
}
/* line 981, ../sass/screen.scss */
section .bgwhite .block-items > a:hover img {
  opacity: .9;
}
/* line 985, ../sass/screen.scss */
section .bgwhite .block-items > a .title {
  position: absolute;
  width: 100%;
  bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  line-height: 21px;
  border-bottom: 1px solid #184d77;
  text-align: left;
  text-transform: uppercase;
  height: 22px;
  font-size: 13px;
  background: #023763;
}
/* line 1000, ../sass/screen.scss */
section .bgwhite .block-items > a .title .date {
  font-size: 12px;
}
/* line 1004, ../sass/screen.scss */
section .bgwhite .block-items > a p {
  background: #a7dafa;
  color: #000000;
  padding-right: 30px;
  text-align: left;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  overflow: hidden;
  font-weight: 600;
  line-height: 15px;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
/* line 1022, ../sass/screen.scss */
section .bgwhite .block-items > a .img img {
  max-width: 100%;
  min-width: 100%;
}
/* line 1029, ../sass/screen.scss */
section .bgwhite .bottom-search {
  padding-bottom: 33px;
}
/* line 1032, ../sass/screen.scss */
section .bgwhite .bottom-search form {
  float: left;
  padding-right: 12px;
  text-align: right;
}
/* line 1037, ../sass/screen.scss */
section .bgwhite .bottom-search input[type="text"] {
  margin-bottom: 4px;
  display: block;
  width: 255px;
  text-align: right;
  height: 30px;
  font-size: 12px;
  border: 1px solid #c1c1c1;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 1049, ../sass/screen.scss */
section .bgwhite .bottom-search input[type="submit"] {
  text-align: center;
  display: inline-block;
  border: 0;
  width: 130px;
  line-height: 27px;
  background: #a81b40;
  color: white;
  font-size: 12px;
}
/* line 1059, ../sass/screen.scss */
section .bgwhite .bottom-search input[type="submit"]:hover {
  opacity: .9;
}
/* line 1063, ../sass/screen.scss */
section .bgwhite .bottom-search p {
  font-size: 12px;
  color: #868585;
  width: 780px;
}
/* line 1071, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1 {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  border: 1px solid #e3e5e6;
  width: 55%;
  overflow: hidden;
  height: 250px;
  position: relative;
}
/* line 1074, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1:hover p {
  text-decoration: underline;
}
/* line 1077, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1:hover img {
  opacity: .9;
}
/* line 1089, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1 .img {
  height: 190px;
}
/* line 1091, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1 .img img {
  max-width: 100%;
  min-width: 100%;
}
/* line 1096, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1 .title {
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  line-height: 21px;
  border-bottom: 2px solid #184d77;
  text-align: left;
  text-transform: uppercase;
  height: 22px;
  font-size: 11px;
  display: block;
  background: #023763;
  z-index: 1;
  position: relative;
  width: 90px;
  margin-top: -22px;
}
/* line 1114, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1 p {
  border-top: 1px solid #97d1de;
  background: #ffffff;
  padding-right: 30px;
  text-align: left;
  font-size: 13px;
  height: 60px;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  overflow: hidden;
  font-weight: 600;
  line-height: 15px;
  height: 60px;
  display: block;
  z-index: 1;
  color: #222;
  position: relative;
}
/* line 1134, ../sass/screen.scss */
section .bgwhite .block-items-2 .item-1 .date {
  position: absolute;
  padding-left: 10px;
  font-size: 10px;
  z-index: 1;
  bottom: 10px;
  color: #767676;
}
/* line 1144, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items {
  padding-bottom: 90px;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding-left: 50px;
  width: 45%;
}
/* line 1151, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items a {
  text-decoration: none;
  position: relative;
  height: 115px;
  margin-bottom: 20px;
  background: #f4f7f9;
  display: block;
}
/* line 1159, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items a:hover .t {
  opacity: .9;
}
/* line 1162, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items a:hover .title, section .bgwhite .block-items-2 .blog-items a:hover p {
  text-decoration: underline;
}
/* line 1166, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items a .t {
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  width: 90px;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
  background: #a81b40;
}
/* line 1178, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items a .title {
  color: #363636;
  font-size: 13px;
  padding-left: 14px;
  margin-bottom: 5px;
  font-weight: 700;
}
/* line 1185, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items a p {
  font-weight: normal;
  width: 220px;
  line-height: 12px;
  overflow: hidden;
  height: 36px;
  padding-left: 14px;
  font-size: 13px;
}
/* line 1194, ../sass/screen.scss */
section .bgwhite .block-items-2 .blog-items a .date {
  position: absolute;
  z-index: 1;
  color: #767676;
  bottom: 10px;
  padding-left: 14px;
  font-size: 10px;
}
/* line 1207, ../sass/screen.scss */
section .homeabout {
  background: #a7dafa;
  padding-bottom: 24px;
}
/* line 1211, ../sass/screen.scss */
section .homeabout h2 {
  color: #023763;
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: bold;
}
/* line 1218, ../sass/screen.scss */
section .homeabout p {
  color: #011822;
  margin-bottom: 40px;
  padding-right: 40px;
  font-size: 14px;
}
/* line 1224, ../sass/screen.scss */
section .homeabout ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
/* line 1228, ../sass/screen.scss */
section .homeabout ul a {
  color: #000000;
  font-size: 14px;
  margin-bottom: 8px;
  text-decoration: underline;
}
/* line 1233, ../sass/screen.scss */
section .homeabout ul a:hover {
  text-decoration: none;
}
/* line 1238, ../sass/screen.scss */
section .homeabout .sevetinregion {
  color: #023763;
  font-size: 20.5px;
  font-weight: bold;
  padding-top: 30px;
  text-transform: uppercase;
}
/* line 1244, ../sass/screen.scss */
section .homeabout .sevetinregion span {
  display: inline-block;
  vertical-align: middle;
}
/* line 1248, ../sass/screen.scss */
section .homeabout .sevetinregion a {
  text-decoration: none;
  text-transform: lowercase;
  line-height: 40px;
  margin-left: 35px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: #a81b40;
  font-weight: 300;
  font-size: 13px;
}
/* line 1260, ../sass/screen.scss */
section .homeabout .sevetinregion a b {
  width: 15px;
  height: 18px;
  margin-left: 25px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../images/icons.png") 0px -79px no-repeat;
}
/* line 1270, ../sass/screen.scss */
section .homeabout .img-link {
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  width: 400px;
  height: 240px;
  margin-right: 40px;
}
/* line 1279, ../sass/screen.scss */
section .homeabout .img-link:hover img {
  opacity: .9;
}
/* line 1283, ../sass/screen.scss */
section .homeabout .img-link .title {
  background: #023763;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 1288, ../sass/screen.scss */
section .homeabout .img-link .title .name {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
  padding-top: 14px;
}
/* line 1294, ../sass/screen.scss */
section .homeabout .img-link .title .abt {
  color: #ffffff;
  font-size: 13px;
  padding-bottom: 14px;
}
/* line 1300, ../sass/screen.scss */
section .homeabout .img-link img {
  max-width: 100%;
  min-width: 100%;
}
/* line 1306, ../sass/screen.scss */
section .is-help {
  text-align: justify;
  overflow: hidden;
  padding: 50px 15px;
}
/* line 1310, ../sass/screen.scss */
section .is-help:after {
  content: "";
  display: inline-block;
  width: 100%;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
/* line 1318, ../sass/screen.scss */
section .is-help h2 {
  color: #023763;
  font-size: 20.23px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 34px;
}
/* line 1327, ../sass/screen.scss */
section .is-help > div {
  width: 29%;
  display: inline-block;
  margin-right: -4px;
  text-align: center;
}
/* line 1332, ../sass/screen.scss */
section .is-help > div.item-1 .icons i {
  background-position: -113px -8px;
}
/* line 1335, ../sass/screen.scss */
section .is-help > div.item-2 .icons i {
  background-position: -113px -63px;
}
/* line 1338, ../sass/screen.scss */
section .is-help > div.item-3 .icons i {
  background-position: -113px -118px;
}
/* line 1341, ../sass/screen.scss */
section .is-help > div .icons {
  border: 3px solid #a7dafa;
  border-radius: 0px 0px 10px 10px;
  border-top: 0;
  height: 110px;
  line-height: 110px;
}
/* line 1347, ../sass/screen.scss */
section .is-help > div .icons i {
  display: inline-block;
  height: 50px;
  width: 60px;
  vertical-align: middle;
}
/* line 1354, ../sass/screen.scss */
section .is-help > div .title {
  background: #023763;
  color: #fefefe;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  height: 70px;
  vertical-align: middle;
  font-size: 18px;
}
/* line 1363, ../sass/screen.scss */
section .is-help > div .title .cell {
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
}
/* line 1373, ../sass/screen.scss */
section .slider-blogs {
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 1381, ../sass/screen.scss */
section .slider-blogs .swiper-slide .ib:first-child .item-1, section .slider-blogs .swiper-slide .ib:first-child .item-2 {
  margin-right: 15px;
  margin-left: 0px;
}
/* line 1385, ../sass/screen.scss */
section .slider-blogs .swiper-slide .ib:first-child a {
  background: #a7dafa;
  margin-left: 0px;
  margin-right: 15px;
}
/* line 1393, ../sass/screen.scss */
section .slider-blogs .ib {
  width: 50%;
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
}
/* line 1399, ../sass/screen.scss */
section .slider-blogs .ib a {
  line-height: 36px;
  color: #023763;
  font-size: 15.86px;
  display: block;
  text-decoration: none;
  margin-left: 15px;
}
/* line 1406, ../sass/screen.scss */
section .slider-blogs .ib a:hover {
  opacity: .6;
}
/* line 1409, ../sass/screen.scss */
section .slider-blogs .ib a:before {
  content: "";
  margin-left: 15px;
  margin-right: 15px;
  width: 30px;
  display: inline-block;
  height: 20px;
  background: url("../../images/icons.png") -67px 5px no-repeat;
}
/* line 1419, ../sass/screen.scss */
section .slider-blogs .ib p {
  clear: both;
  color: #0e436e;
  font-size: 14px;
}
/* line 1424, ../sass/screen.scss */
section .slider-blogs .ib .name {
  height: 50px;
  text-transform: uppercase;
  color: #0e436e;
  font-size: 12px;
}
/* line 1429, ../sass/screen.scss */
section .slider-blogs .ib .name:before {
  content: attr(data-date);
  margin-bottom: 10px;
  color: #023763;
  display: block;
  font-size: 12.08px;
  font-weight: bold;
}
/* line 1439, ../sass/screen.scss */
section .slider-blogs .ib .item-1 {
  font-size: 14px;
  border-radius: 10px 10px 0px 0px;
  background: #a7dafa;
  margin-left: 15px;
  padding: 15px 20px  20px  20px;
}
/* line 1445, ../sass/screen.scss */
section .slider-blogs .ib .item-1:before {
  content: "";
  float: left;
  display: inline-block;
  vertical-align: bottom;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  background: url("../../images/icons.png") -54px -27px no-repeat;
}
/* line 1456, ../sass/screen.scss */
section .slider-blogs .ib .item-2 {
  font-size: 14px;
  margin-left: 15px;
  padding: 15px;
  background: #f7f7f3;
}
/* line 1461, ../sass/screen.scss */
section .slider-blogs .ib .item-2:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  float: left;
  background: url("../../images/icons.png") -54px -69px no-repeat;
}

/* line 1478, ../sass/screen.scss */
footer {
  background: #a7dafa;
  padding-top: 20px;
  height: 80px;
}
/* line 1482, ../sass/screen.scss */
footer p {
  color: #023763;
  font-size: 12px;
}

/* line 1489, ../sass/screen.scss */
header {
  height: 100px;
}
/* line 1491, ../sass/screen.scss */
header .header-search-form {
  float: right;
  padding-top: 25px;
  position: relative;
}
/* line 1496, ../sass/screen.scss */
header .header-search-form input[type=submit] {
  border: 0;
  position: absolute;
  right: 6px;
  top: 30px;
  background: transparent url("../../images/icons.png") -97px -4px no-repeat;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  color: transparent;
}
/* line 1507, ../sass/screen.scss */
header .header-search-form input[type=text] {
  width: 208px;
  background: #d2d3d3;
  color: #023763;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 12px;
  height: 21px;
  border: 1px solid #d9dada;
  border-top: 1px solid #e6e7e7;
}
/* line 1519, ../sass/screen.scss */
header .header-search-form .bottom-head {
  padding-top: 7px;
}
/* line 1522, ../sass/screen.scss */
header .header-search-form .social {
  display: inline-block;
  margin-right: 4px;
  float: right;
}
/* line 1526, ../sass/screen.scss */
header .header-search-form .social a {
  display: inline-block;
  margin-right: -4px;
}
/* line 1529, ../sass/screen.scss */
header .header-search-form .social a:hover {
  opacity: .8;
}
/* line 1532, ../sass/screen.scss */
header .header-search-form .social a i {
  display: block;
  width: 22px;
  height: 22px;
}
/* line 1537, ../sass/screen.scss */
header .header-search-form .social a.item-1 i {
  background-position: 0 0;
}
/* line 1542, ../sass/screen.scss */
header .header-search-form .social a.item-2 i {
  background-position: -23px 0px;
}
/* line 1547, ../sass/screen.scss */
header .header-search-form .social a.item-3 i {
  background-position: -45px 0px;
}
/* line 1554, ../sass/screen.scss */
header .header-search-form a.create-ask {
  font-size: 12px;
  color: #023763;
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
}
/* line 1561, ../sass/screen.scss */
header .header-search-form a.create-ask:hover span {
  border-color: transparent;
}
/* line 1565, ../sass/screen.scss */
header .header-search-form a.create-ask span {
  border-bottom: 1px dashed #b6dff8;
}

/* line 1573, ../sass/screen.scss */
.modal-wrapper {
  text-align: center;
}
/* line 1575, ../sass/screen.scss */
.modal-wrapper .modal-dialog {
  display: inline-block;
  width: auto;
}
/* line 1580, ../sass/screen.scss */
.modal-wrapper .close {
  background: transparent;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  position: absolute;
  line-height: 20px;
  outline: none;
  right: 15px;
  z-index: 1;
  border: 0;
  top: 15px;
}
/* line 1591, ../sass/screen.scss */
.modal-wrapper .close:hover {
  opacity: .7;
}
/* line 1594, ../sass/screen.scss */
.modal-wrapper .close span {
  vertical-align: middle;
  font-size: 24px;
  color: #cecece;
}

/* line 1602, ../sass/screen.scss */
.tooglefontsize {
  position: absolute;
  top: 10px;
  left: -170%;
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 1610, ../sass/screen.scss */
.tooglefontsize:hover {
  text-decoration: underline;
}

/* line 1617, ../sass/screen.scss */
.big-size section .article h1 {
  font-size: 220% !important;
}
/* line 1622, ../sass/screen.scss */
.big-size section .manytext .table {
  table-layout: fixed;
}
/* line 1624, ../sass/screen.scss */
.big-size section .manytext .table * {
  font-size: 103% !important;
}
/* line 1630, ../sass/screen.scss */
.big-size section .faq .ask-block .no-atcive .asked p {
  height: 45px;
}
/* line 1633, ../sass/screen.scss */
.big-size section .manytext *, .big-size section .manytext {
  font-size: 120% !important;
}
/* line 1634, ../sass/screen.scss */
.big-size section .navo .img {
  margin-right: 0px;
  height: auto !important;
  left: 319px;
  top: 0;
  right: 0;
  vertical-align: top;
  background-position: center !important;
  background-size: cover !important;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
/* line 1647, ../sass/screen.scss */
.big-size * {
  font-size: 103% !important;
}
/* line 1650, ../sass/screen.scss */
.big-size section .bgwhite .block-items-2 .blog-items a p {
  line-height: normal;
  width: 90%;
  height: auto;
}
/* line 1655, ../sass/screen.scss */
.big-size section .bgwhite .block-items-2 .item-1 .date {
  position: relative;
  padding-left: 10px;
  bottom: 0px;
  color: #767676;
  background: white;
  width: 100%;
  padding-bottom: 10px;
  display: block;
  z-index: 1;
}
/* line 1666, ../sass/screen.scss */
.big-size section .bgwhite .block-items-2 .item-1, .big-size section .bgwhite .block-items-2 .item-1 p {
  line-height: normal;
  height: auto;
}
/* line 1670, ../sass/screen.scss */
.big-size section .bgwhite .block-items-2 .blog-items a {
  height: auto;
  padding-bottom: 50px;
}
/* line 1674, ../sass/screen.scss */
.big-size section .bgwhite .block-items > a p {
  height: 70px;
}
/* line 1677, ../sass/screen.scss */
.big-size section .bgwhite .block-items > a .title {
  bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  line-height: 21px;
  border-bottom: 1px solid #184d77;
  text-align: left;
  text-transform: uppercase;
  height: 22px;
  font-size: 13px;
  background: #023763;
}

@media (max-width: 1024px) {
  /* line 1700, ../sass/screen.scss */
  body .content-width, body .table {
    padding-left: 10px;
    padding-right: 10px;
  }
}
